@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    /* background:linear-gradient(#cad2e3,#a3c0e2); */
    background-image: url("./images/background.jpg");
    z-index: -1;
    
    
    
}
.profile-body{

    height: 100%;
    width: 100%;
    background-attachment: fixed;
}
.profile-body::after{
    position: absolute;
    background: black;
    width: 100%;
    height: 500vh;
    content: "";
    top:0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}


#logo{
    font-size: 35px;
    padding: 20px 0 20px 100px;
    border-bottom: 1px solid rgba(0,0, 0, 10);
    /* background-image: linear-gradient(to right, #868f96 0%, #596164 100%);; */
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    color: white;
    font-weight: bold;
}
nav{
    display: block;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 320px;
    z-index: 3;
    opacity: 0;
    transition: all 0.5s;
    opacity: 0;

}
.open nav{
    left: 0;
    opacity: 1;
}
nav .inner{
    padding: 30px;
}
nav .inner ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav .inner ul li{
    margin: 0;
    border-bottom: 1px solid #333;
}
nav .inner ul li a{
    display: block;
    text-decoration:none;
    color: #333;
    font-weight: 300;
    font-size: 20px;
    padding: 1rem;
}

nav .inner ul li a:hover{
    background-color: #e4e4e4;
}
.toggle-btn{
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    z-index: 3;
    cursor: pointer;
}
.toggle-btn span{
    position: absolute;
    display: block;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #fff;
    transition: all 0.5s;
    border-radius: 4px;

}
.toggle-btn span:nth-child(1){
    top:4px;
}
.toggle-btn span:nth-child(2){
    top:14px;
}
.toggle-btn span:nth-child(3){
    bottom:4px;
} 
.open .toggle-btn span{
    background-color: #fff;
}
.open .toggle-btn span:nth-child(1){
    transform: translateY(10px) rotate(315deg);
}
.open .toggle-btn span:nth-child(2){
    opacity: 0;
}
.open .toggle-btn span:nth-child(3){
    transform: translateY(-10px) rotate(-315deg);
}
#mask{
    display: none;
    transition: all 0.5s;
}
.open #mask{
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.9;
    z-index: 2;
}
.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.7;
    z-index: -1;
}
.top-hero{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero{
    height: 80%;
    width: 100%;
    position: relative;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.hero::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    border-radius: 20px;
}
.headline{
    position: absolute;
    top: 60%;
    left: 30px;
    color: white;
    font-size: 100px;
    z-index: 1;
    white-space: nowrap;
}

.profile-title{
    position: absolute;
    top: 15%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    opacity: 0; 
    
}
.profile-title.active{
    opacity: 1;
    transition: all 3s;
}

.profile-title h1{
    color: white;
    font-size: 4rem;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    z-index: 1;
    margin-bottom: 20px;
}
.img-wrap{
    position: relative;
    top:40%;
    height: 40%;
    width: 1px;
    overflow: hidden;
    opacity: 0;  
}
.img-wrap.active{
    width: 40vw;
    opacity: 1;
    transition: opacity 1s,width 2s;
}
.img{
    position: absolute;
    top:0;
    left: 0;
    width: 40vw;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform: scale(1.6);
}
.img-wrap.active > .img{
    transform: scale(1);
    transition: 1s ease-out;
}

.second-title{
    position: absolute;
    font-size: 2.3rem;
    top: 75%;
    left: 80px;
    z-index: 2;
    border-bottom: solid;
    letter-spacing: 3px;
    opacity: 0; 
    transition:all 0.2s;
}

.second-title.active{
    opacity: 1;
    transition: opacity 3s;
}

.text-area{
    width: 60%;
    position: absolute;
    top: 85%;
    left:80px;
    z-index: 2;
    opacity: 0; 
    
    
    

}
.text-area.active{
    opacity: 1;
    transition: opacity 3s;
}
.text-area h3{
    font-size: 1.6rem;
}
.text-area p{
    line-height: 35px;
    
}
.text-area ul{
    margin: 0;
    padding: 0;
    padding-left: 10px;
}
.text-area ul li{
    line-height: 35px;
    
}
.future{
    margin-top: 15px;
}

.endsection{
    position: relative;
}

.return-button{
    position: absolute;
    right: 20%;
    bottom: -70%;
    border: solid 1px #eef;
    border-radius: 10px;
    transition: all 0.2s;
} 
.return-button:hover{
    background-color: #eef;
    transition: all 0.2s;
}
.return-button a{
    color: white;
    font-size: 1.2rem;
}
